build
mx.scratch
!.settings

.settings/
.vscode/
.idea/
.cache/

# Python files
__pycache__/
.venv/
*.pyc

# Build artifacts (if not in build/)
*.elf
*.bin
*.hex
*.map
*.o
*.d
*.su

# OS specific
.DS_Store
Thumbs.db


utils/signal_processing/